<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ko.gagu.issue.employee.dao.EmployeeDAO">
	<select id="login" resultType="String">
		SELECT emp_pw FROM employee_tb WHERE emp_id = #{param1}
	</select>
	
	<insert id="join" parameterType="map">
		INSERT INTO employee_tb (idx_employee,idx_department,idx_title,emp_id,emp_pw,emp_name,emp_status,emp_email,emp_email_pw,emp_phone_number,emp_birth_date,emp_hire_date,emp_term_date,emp_address,first_login)
			VALUES (#{idx_employee},#{idx_department},#{idx_title},#{emp_id},#{emp_pw},#{emp_name},#{emp_status},#{emp_email},#{emp_email_pw},#{emp_phone_number},#{emp_birth_date},#{emp_hire_date},#{emp_term_date},#{emp_address},#{first_login})
	</insert>
	
	 <select id="findEmployeeNumber" parameterType="map" resultType="string">
        SELECT emp_id
        FROM employee_tb
        WHERE emp_name = #{emp_name}
          AND emp_birth_date = #{birthDate}
    </select>
	
	
	
	


</mapper>
