<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="ko.gagu.issue.dao.EmployeeDAO">
	
	<select id="employeeGetAllEvents" resultType="employee">
		SELECT * FROM employee_calendar_tb
	</select>
	
	<insert id="employeeAddEvent" parameterType="employee">
		INSERT INTO employee_calendar_tb
			(idx_employee,ec_title,ec_description,ec_start_datetime,ec_end_datetime,ec_color)
		VALUES (2,#{ec_title},#{ec_description},#{ec_start_datetime},#{ec_end_datetime},#{ec_color})
	</insert>
	
	<select id="login" resultType="String">
		SELECT emp_pw FROM employee_tb WHERE emp_id = #{param1}
	</select>
	
	<insert id="join" parameterType="map">
		INSERT INTO employee_tb (idx_employee,idx_department,idx_title,emp_id,emp_pw,emp_name,emp_status,emp_email,emp_email_pw,emp_phone_number,emp_birth_date,emp_hire_date,emp_term_date,emp_address,first_login)
			VALUES (2,#{idx_department},#{idx_title},#{emp_id},#{emp_pw},#{emp_name},#{emp_status},#{emp_email},#{emp_email_pw},#{emp_phone_number},#{emp_birth_date},#{emp_hire_date},#{emp_term_date},#{emp_address},#{first_login})
	</insert>
	
	 <select id="findEmployeeNumber" parameterType="map" resultType="string">
        SELECT emp_id
        FROM employee_tb
        WHERE emp_name = #{emp_name}
          AND emp_birth_date = #{birthDate}
    </select>
    
    <select id="findPW" parameterType="map" resultType="string">
		SELECT emp_pw
		FROM employee_tb
		WHERE emp_id = #{emp_id}
		AND emp_name = #{emp_name}
		AND emp_birth_date = #{birthDate}
    </select>
	
	
	
	


</mapper>
