<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="ko.gagu.issue.dao.EmployeeDAO">
	
	<select id="employeeGetAllEvents" resultType="employee">
		SELECT * FROM employee_calendar_tb WHERE idx_employee=#{param1} and ec_status='SHOW'
	</select>
	
	<select id="getAllCompanyEvents" resultType="HRDept">
		SELECT * FROM company_calendar_tb WHERE cc_status='SHOW'
	</select>
	
	<!-- [il] 임의로 idx_employee =1 집어넣었음 나중에 바꿔줘야함!! -->
	<insert id="employeeAddEvent" parameterType="employee">
		INSERT INTO employee_calendar_tb
			(idx_employee,ec_title,ec_description,ec_start_datetime,ec_end_datetime,ec_color)
		VALUES (1,#{ec_title},#{ec_description},#{ec_start_datetime},#{ec_end_datetime},'#7a70ba')
	</insert>
	
	<update id="employeeDeleteEvent">
		UPDATE employee_calendar_tb SET ec_status='BLIND' WHERE idx_emp_calendar=#{param1} and idx_employee=#{param2}
	</update>
	
	<update id="employeeUpdateEvent">
		UPDATE employee_calendar_tb SET
			ec_title=#{param3},
			ec_start_datetime=#{param4},
			ec_end_datetime=#{param5},
			ec_description=#{param6},
			ec_color=#{param7}
		WHERE idx_emp_calendar=#{param1} AND idx_employee=#{param2}
	</update>
	
	<select id="login" resultType="String">
		SELECT emp_pw FROM employee_tb WHERE emp_id = #{param1}
	</select>
	
	<insert id="join" parameterType="map">
		INSERT INTO employee_tb (idx_employee,idx_department,idx_title,emp_id,emp_pw,emp_name,emp_status,emp_email,emp_email_pw,emp_phone_number,emp_birth_date,emp_hire_date,emp_term_date,emp_address,first_login)
			VALUES (2,#{idx_department},#{idx_title},#{emp_id},#{emp_pw},#{emp_name},#{emp_status},#{emp_email},#{emp_email_pw},#{emp_phone_number},#{emp_birth_date},#{emp_hire_date},#{emp_term_date},#{emp_address},#{first_login})
	</insert>
	
	 <select id="findEmployeeNumber" parameterType="map" resultType="string">
        SELECT emp_id
        FROM employee_tb
        WHERE emp_name = #{emp_name}
          AND emp_birth_date = #{birthDate}
    </select>
    
    <select id="findPW" parameterType="map" resultType="string">
		SELECT emp_pw
		FROM employee_tb
		WHERE emp_id = #{emp_id}
		AND emp_name = #{emp_name}
		AND emp_birth_date = #{birthDate}
    </select>
	
	<select id="getContact" resultType="employee">
		SELECT et.idx_employee ,et.emp_name, dt.de_name, et.emp_email, et.emp_phone_number, et.emp_address, et.idx_title
		FROM employee_tb et, department_tb dt 
		WHERE et.idx_department = dt.idx_department AND idx_employee != #{param1}
		<if test="param2 != null and param2 != '' and param2 != '전체'">
           	AND (et.emp_name LIKE CONCAT('%', #{param2}, '%') OR et.idx_title LIKE CONCAT('%', #{param2}, '%'))
        </if>
		
	</select>
	
	<select id="getempDetail" parameterType="map">
		SELECT et.idx_employee ,tt.title_name, et.emp_name, dt.de_name, et.emp_email, et.emp_phone_number, et.emp_address, et.idx_title 
		FROM employee_tb et
		JOIN department_tb dt ON et.idx_department = dt.idx_department 
		JOIN title_tb tt ON et.idx_title = tt.idx_title
		WHERE idx_employee = #{idx_emp};
	
	</select>
	


</mapper>
