<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="ko.gagu.issue.dao.MessageDAO">
	
	<select id="roomList" resultType="message">
		SELECT
	    mt.idx_messageroom, 
	    IF (mt.receiver = #{param1}, mt.sender, mt.receiver) AS other_emp,  
	    MAX(mh.send_datetime) AS reg_date, 
	    (SELECT et.emp_name FROM employee_tb et WHERE et.idx_employee = other_emp) AS name,
	    (SELECT COUNT(*) 
	        FROM message_history_tb mh  
	        WHERE mh.idx_messageroom = mt.idx_messageroom 
	          AND ((mt.sender = #{param1} AND mt.is_sender_exit = 'N')
	          OR (mt.receiver = #{param1} AND mt.is_receiver_exit = 'N'))
	    ) AS msg_count,
	    (SELECT COUNT(*) 
	        FROM message_history_tb mh  
	        WHERE mh.idx_messageroom = mt.idx_messageroom 
	          AND mt.receiver = #{param1}
	          AND mh.is_receiver_read = 'N'
	          AND mh.sender = other_emp
	    ) AS no_read
	FROM 
	    messageroom_tb mt
	LEFT JOIN 
	    message_history_tb mh ON mt.idx_messageroom = mh.idx_messageroom
	WHERE 
	    mt.sender = #{param1} OR mt.receiver = #{param1}
	GROUP BY
	    mt.idx_messageroom, other_emp
	ORDER BY 
	    reg_date DESC;
	
	</select>
	
	
	<select id="lastContent" resultType="message">
		SELECT mht.msg_content AS content, mht.send_datetime
		FROM message_history_tb mht, messageroom_tb mt 
	 WHERE mht.idx_messageroom = mt.idx_messageroom AND mht.idx_messageroom = #{param1}
	 	AND mt.receiver IN (#{param2},#{param3})
	 	AND mt.sender IN (#{param2},#{param3})
	 	AND ((mt.receiver=#{param3} AND mt.is_receiver_exit='N') OR (mt.sender=#{param3} and mt.is_sender_exit='n'))
	 	ORDER BY mht.send_datetime DESC LIMIT 1
	</select>
	
	
	<select id="messageList" resultType="message">
		SELECT
		mht.idx_message
		,mht.msg_content as content
		,mht.send_datetime
		,mt.receiver 
		,mht.sender
		,mt.is_sender_exit 
		,mt.is_receiver_exit 
		,mht.is_receiver_read 
	FROM messageroom_tb mt, message_history_tb mht  
	WHERE mt.idx_messageroom = mht.idx_messageroom 
	AND mht.idx_messageroom = #{param1}
	AND (mt.receiver IN(#{param2},#{param3}))
	AND (mt.sender IN(#{param2},#{param3}))
	</select>


</mapper>
